input {
  width: 3rem;
  caret-color: transparent;
  font-size: xx-large;
  text-align: center;
  aspect-ratio: 1/1;
  margin: .1rem;
  text-transform: uppercase;
}

body {
  font-family: monospace;
}

